<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fusion2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6D03BA9253E0D5D00BA3C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D03BBF253E0D6000BA3C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D03BCA253E0D6000BA3C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
